[data-md-color-scheme="eds-light"] {
    --md-primary-fg-color:        #c97e40;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
  }

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #c97e40;
}

